.tips{
    position: fixed;
    z-index: 10;
    top: 140px;
    right: 16px;
    max-width: 450px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px $color-7;
    background-color: $color-12;
    li{
        margin: 5px 20px;
        list-style: circle;
        line-height: 1.1em;
    }
    a{
        color: $color-master;
        font-weight: bold;
    }
    @include w768{
        max-width: 80%;
        right: calc( 10% - 10px );
        top: 200px;
    }
}

.tipsBtn{
    @include pointer;
    @include tran-3;
    float: right;
    font-size: $fontsize-xl;
    margin: 5px;
    &:hover{
        color: $color-master;
        font-size: $fontsize-xxl;
    }
}

.noteImpor{
    font-weight: bolder;
    background-image: linear-gradient(to top, $color-17 50%, $color-18 50.1%);
}