.tpsHome{
    position: fixed;
    z-index: 10;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tipSttyle{
    height: 500px;
    max-width: 550px;
    max-height: 90vh;
    @include w400{
        max-height: 65vh;
    }
}
.tips{
    box-shadow: 0 0 10px $color-7;
    border-radius: 10px;
    background-color: $color-12;
    padding: 20px 15px;
    position: relative;
}
.tipContent{
    display: inline-block;
    font-size: $fontsize-xl;
    overflow-y: scroll;
    &::-webkit-scrollbar {
        width: 3px;
        background: $color-13;
    }
    &::-webkit-scrollbar-thumb {
        background: $color-15; 
        border-radius: 3px;
    }
    &>div{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    li{
        margin: 5px 20px;
        list-style: circle;
        line-height: 1.5em;
    }
    a{
        color: $color-master;
        font-weight: bold;
        @include tran-3;
        &:hover{
            background: $color-master;
            color: $color-12;
        }
    }
    img{
        height: 300px;
        width: auto;
        max-height: 40vh;
        margin-bottom: 10px;
        border-radius: 5px;
    }
}

.tipsBtn{
    @include pointer;
    @include tran-3;
    position: absolute;
    right: 3px;
    top: 3px;
    font-size: $fontsize-xxl;
    padding: 5px;
    &:hover{
        color: $color-master;
        font-size: $fontsize-xxl;
    }
}

.smalltips{
    top: 150px;
    left: unset;
    bottom: unset;
    justify-content: flex-end;
    .tipsBtn{
        padding: 10px;
        top: 0;
        left: 0;
    }
    .tips{
        padding: 20px;
    }
}

.noteImpor{
    font-weight: bolder;
    background-image: linear-gradient(to top, $color-17 50%, $color-18 50.1%);
}

.tipsDetail{
    font-size: $fontsize-l;
    border: 1px solid #00000036;
    margin: 8px 0;
    padding: 6px;
    border-radius: 0 0 5px 5px;
}

.scrollTip{
    @include pointer;
    position: absolute;
    right: 30px;
    bottom: 20px;
    border: 2px solid $color-4;
    background: $color-12;
    color: $color-4;
    padding: 5px 8px;
    border-radius: 15px;
    animation-name: scroll;
    animation-iteration-count:infinite;
    animation-duration: 1.5s;
    &:hover{
        animation-play-state: paused;
        background: $color-19;
    }
}

@keyframes scroll{
    from{
        bottom: 20px;
    }
    to{
        bottom: 10px;
    }
}