<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>口罩即時查</title>
    <meta name="description" content="即時查詢口罩數量">

    <!-- facebook -->
    <meta property='og:title' content='口罩即時查'/>
    <meta property='og:description' content='即時查詢口罩數量'/>
    <meta property='og:image' content='./img/logo.png'>
    <meta property='og:type' content='website'/>

    <link rel="stylesheet" href="./css/min/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
</head>
<body>
    <div id="mask" v-cloak>
        <header>
            <img src="./img/logo.png" alt="">
            <h1>口罩即時查</h1>
        </header>

        <nav></nav>

        <article>

            <section class="searchBlock">
                <div class="searchInput">
                    <input type="text" placeholder="請輸入店家名稱" class="search" v-model='searchStore'>
                    <i class="fas fa-clinic-medical"></i>
                </div>
                <div class="searchInput">
                    <input type="text" placeholder="請輸入想查詢位置" class="search" v-model='searchCity'>
                    <img src="./img/ic_location.png">
                </div>
            </section>

            <section class='info'>
                <div class="dateInfo">
                    <span class='date'>{{vDate[iDate]}}</span>
                    <span>購買日</span>
                    <img class='illustratingIcon' 
                         @click='bRule = true'
                         src="./img/ic_help@2x.png" />
                    <i   v-if='bRule' 
                         class="fas fa-times closeRule"
                         @click = 'bRule = false'></i>
                    <img class='illustrating' 
                         v-if='bRule'
                         src="./img/upload_d66720899e86826c9ae2e999dbec76fe.jpeg" alt="">
                </div>

                <div class="detail" v-if='vShowMask.length'>
                    <div class="note">
                        <p>距離方圓<span>5公里</span>以內的供應商</p>
                        <p>資訊更新時間<span>{{sUpdateTime}}</span></p>
                    </div>
                    <div class="reLoading" @click='getMaskData()'>
                        <span>重整列表</span>
                    </div>
                </div>
                <div></div>
            </section>

            <section class="maskData" v-if='vShowMask.length'>
                <div class="pharmacy" v-for='(maskInfo, idx) in vShowMask' v-if='idx < dataNumberNow'>
                    <div class="maskNumber">
                        <div class="maskStyle" :class='vMaskClass[getMaskStockIdx(maskInfo.properties.mask_adult)]'>
                            <div>成人口罩數量</div>
                            <div><span>{{maskInfo.properties.mask_adult}}</span>片</div>
                            <img :src="vMaskImg[getMaskStockIdx(maskInfo.properties.mask_adult)]">
                        </div>
                        <div class="maskStyle" :class='vMaskClass[getMaskStockIdx(maskInfo.properties.mask_child)]'>
                            <div>兒童口罩數量</div>
                            <div><span>{{maskInfo.properties.mask_child}}</span>片</div>
                            <img :src="vMaskImg[getMaskStockIdx(maskInfo.properties.mask_child)]">
                        </div>                       
                    </div>

                    <div class="pharmacyInfo">
                        <div class="name" :class='vOpenClass[maskInfo.properties.iAvailable]'>
                            <span>{{maskInfo.properties.name}}</span>
                            <a :href='maskInfo.properties.website' v-if='maskInfo.properties.website'><i class="fas fa-link"></i></a>
                            <span>1.2 km</span>
                            <span>{{vOPenStr[maskInfo.properties.iAvailable]}}</span>
                        </div>
                        <div class='detailStyle'>
                            <span>地址</span>
                            <span class="address">{{maskInfo.properties.address}}</span>
                            <span class='bottomLine'>
                                <a :href='getStoreLocation(maskInfo.geometry)' target="_blank">於地圖查看</a>
                            </span>
                        </div>
                        <div class='detailStyle'>
                            <span>電話</span>
                            <span>{{maskInfo.properties.phone}}</span>
                            <span class='bottomLine'>撥打電話</span>
                        </div>
                        <div v-if='maskInfo.properties.note' class='detailStyle'>
                            <span>備註</span>
                            <span class="wrap">{{maskInfo.properties.note}}</span>
                        </div>
                        <div v-if='maskInfo.properties.custom_note' class='detailStyle'>
                            <span>公告</span>
                            <span class="wrap">{{maskInfo.properties.custom_note}}</span class="wrap"></span>>
                        </div>
                    </div>
 
                </div>
            </section>

            <section v-else>
                <p v-if='vLoading'>Loading....</p>
                <p v-else>No Result</p>
            </section>

            <section class='btnBlock' v-if='vShowMask.length > dataNumberNow'>
                <div class="more" @click='getMoreData()'>
                    <p>尚有{{vShowMask.length - dataNumberNow}}筆</p>
                    <div class='btn01'>查看更多</div>
                </div>
                <a class='btn01 top' href='#mask'>TOP</a>
            </section>

            <section class="tips" v-if='!bRule'>
                <span class="tipsBtn" @click='bTipShow = !bTipShow'>
                    <i v-if='bTipShow' class="fas fa-times-circle"></i>
                    <i v-else class="fas fa-exclamation-circle"></i>
                </span>

                <ul v-if='bTipShow'>
                    <li>部分藥局因採發放號碼牌方式，方便民眾購買口罩，<span class='noteImpor'>系統目前無法顯示已發送號碼牌數量</span>。</li>
                    <li>口罩數量以藥局實際存量為主，<span class='noteImpor'>線上查詢之數量僅供參考</span>。</li>
                    <li>若您的藥局有需要加註的公告事項，可以填寫<a href='https://pse.is/KH7DC'>表單</a></li>
                </ul>

            </section>
            <div  class="back" 
                  :class='bTipShow || bRule ? ( bTipShow ? "grayBack" : "blueBack" ) : "" '
                  v-if='bTipShow || bRule' @click= 'bTipShow = false'></div>
        </article>

        <footer>
            <div>防疫專線 1922 ｜ 口罩資訊 1911</div>
            <div class="author">
                <a href='https://github.com/wenyo/maskmap'>wenyo</a>
                <span> / </span>
                <a href='https://xd.adobe.com/view/6e126433-68ec-45ce-6c7d-62ac0cede399-1823/grid'>PY Design</a>
            </div>
        </footer>

    </div>
    <script src="./all.js"></script>
</body>
</html>