<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>口罩即時查</title>
    <meta name="description" content="即時查詢口罩數量">

    <!-- socaial media -->
    <meta property='og:title' content='口罩即時查'/>
    <meta property='og:description' content='即時查詢口罩數量'/>
    <meta property='og:image' content='https://wenyo.github.io/maskmap/img/logo_org.jpg'>
    <meta property='og:type' content='website'/>

    <link rel="stylesheet" href="./css/min/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
</head>
<body>
    <div    id="mask" 
            :class='bTipShow || bRule ? "noScroll" : "" '
            @click = 'bFocus1 = false; bFocus2 = false'
            v-cloak>
        <header>
            <img src="./img/logo.png" alt="">
            <h1>口罩即時查</h1>
        </header>

        <nav></nav>

        <article>

            <section class="searchBlock">
                <div class="searchInput">
                    <input  type="text" 
                            placeholder="請輸入店家名稱" 
                            class="search" :class=' bFocus1 ? "active" : "" ' 
                            v-model='searchStore'
                            @click.stop ='bFocus1 = true; bFocus2 = false'>
                    <i class="fas fa-hospital"></i>
                    <ul class='searchBar' v-if="bFocus1">
                        <li v-for='store in vHistory.searchStore' v-if='vHistory.searchStore.length > 0' @click='searchStore = store'>
                            <i class="fas fa-clinic-medical"></i>
                            <span>{{store}}</span>
                        </li>
                        <li class='clearData' @click.stop='bFocus1 = true;clearLocalStorage("searchStore")'>
                            <i class="fas fa-trash-alt"></i>
                            <span>清除紀錄</span>
                        </li>
                    </ul>
                </div>
                <div class="searchInput">
                    <input  type="text" placeholder="請輸入想查詢位置" 
                            class="search" :class=' bFocus2 ? "active" : "" ' 
                            v-model='searchCity'
                            @click.stop ='bFocus2 = true; bFocus1 = false'>
                    <img src="./img/ic_location.png">
                    <ul class='searchBar' v-if="bFocus2">
                        <li @click='clickMyLocation'>
                            <i class="fas fa-map-marker-alt"></i>
                            <span>{{sMyLoction}}</span>
                        </li>
                        <li v-for='city in vHistory.searchCity' v-if='vHistory.searchCity.length > 0' @click='searchCity = city'>
                            <i class="fas fa-map-marker-alt"></i>
                            <span>{{city}}</span>
                        </li>
                        <li class='clearData' @click.stop='bFocus2 = true; clearLocalStorage("searchCity")'>
                            <i class="fas fa-trash-alt"></i>
                            <span>清除紀錄</span>
                        </li>
                    </ul>
                </div>
                <div class="condition">
                    <span @click='bSortShow = !bSortShow'>篩選條件</span>
                    <ul v-if='bSortShow'>
                        <li>
                            <label>
                                <input type="checkbox" v-model='vCondition.adult' @change='sortCondition'>
                                <span>成人</span>
                            </label>
                            <label>
                                <input type="checkbox" v-model='vCondition.childern' @change='sortCondition'>
                                <span>兒童</span>
                            </label>
                        </li>
                        <li>
                            <label>
                                <input type="radio" name="sort" value="distance" v-model='sSort' checked>
                                <span>距離</span>
                            </label>
                            <label>
                                <input type="radio" name="sort" value="number" v-model='sSort' >
                                <span>數量</span>
                            </label>                            
                        </li>
                    </ul>
            </section>

            <section class='info'>
                <div class="dateInfo">
                    <span class='date'>{{vDate[iDate]}}</span>
                    <span>購買日</span>
                </div>

                <div class="detail" v-if='vShowMask.length'>
                    <div class="note">
                        <p v-if='bGetLocation'>距離方圓<span>{{iDistance}}公里</span>以內的供應商</p>
                        <p>資訊更新時間<span>{{sUpdateTime}}</span></p>
                    </div>
                    <div class="reLoading" @click='getMaskData()'>
                        <span>重整列表</span>
                    </div>
                </div>
                <div></div>
            </section>

            <section class="maskData" v-if='vShowMask.length'>
                <div class="pharmacy" v-for='(maskInfo, idx) in checkMaskNum(vShowMask)' v-if='idx < dataNumberNow'>
                    <div class="maskNumber">
                        <div class="maskStyle" :class='vMaskClass[getMaskStockIdx(maskInfo.properties.mask_adult)]'>
                            <div>成人口罩數量</div>
                            <div><span>{{maskInfo.properties.mask_adult}}</span>片</div>
                            <img :src="vMaskImg[getMaskStockIdx(maskInfo.properties.mask_adult)]">
                        </div>
                        <div class="maskStyle" :class='vMaskClass[getMaskStockIdx(maskInfo.properties.mask_child)]'>
                            <div>兒童口罩數量</div>
                            <div><span>{{maskInfo.properties.mask_child}}</span>片</div>
                            <img :src="vMaskImg[getMaskStockIdx(maskInfo.properties.mask_child)]">
                        </div>                       
                    </div>

                    <div class="pharmacyInfo">
                        <div class="name" :class='vOpenClass[maskInfo.properties.iAvailable]'>
                            <span>{{maskInfo.properties.name}}</span>
                            <a :href='maskInfo.properties.website' v-if='maskInfo.properties.website'><i class="fas fa-link"></i></a>
                            <span v-if='bGetLocation'>{{(maskInfo.geometry.coordinates[2].toFixed(2))}} km</span>
                            <span>{{vOPenStr[maskInfo.properties.iAvailable]}}</span>
                        </div>
                        <div class='detailStyle'>
                            <span>地址</span>
                            <span class="address">{{maskInfo.properties.address}}</span>
                            <span class='bottomLine'>
                                <a :href='getStoreLocation(maskInfo)' target="_blank">於地圖查看</a>
                            </span>
                        </div>
                        <div class='detailStyle'>
                            <span>電話</span>
                            <span>{{maskInfo.properties.phone}}</span>
                            <span class='bottomLine'>撥打電話</span>
                        </div>
                        <div v-if='maskInfo.properties.note' class='detailStyle'>
                            <span>備註</span>
                            <span class="wrap">{{maskInfo.properties.note}}</span>
                        </div>
                        <div v-if='maskInfo.properties.custom_note' class='detailStyle'>
                            <span>公告</span>
                            <span class="wrap">{{maskInfo.properties.custom_note}}</span class="wrap"></span>>
                        </div>
                    </div>
 
                </div>
            </section>

            <section v-else>
                <p v-if='vLoading'>Loading....</p>
                <p v-else>No Result</p>
            </section>

            <section class='btnBlock' v-if='iShowMaskLen > dataNumberNow'>
                <div class="more" @click='getMoreData()'>
                    <p>尚有{{iShowMaskLen - dataNumberNow}}筆</p>
                    <div class='btn01'>查看更多</div>
                </div>
                <a class='btn01 top' href='#mask'>TOP</a>
            </section>

            <section class='tpsHome' :class='!bTipShow ? "smalltips" :"" ' @click.self='bTipShow = !bTipShow'>
                <div class="tips" :class='bTipShow ? "tipSttyle" :"" '>
                    <span class="tipsBtn" @click='bTipShow = !bTipShow'>
                        <i v-if='bTipShow' class="fas fa-times-circle"></i>
                        <i v-else class="fas fa-exclamation-circle"></i>
                    </span>
                    <div class="tipContent" v-if='bTipShow'>
                        <div>
                            <img src="./img/rule_v4.jpg" v-if='bTipShow'>
                            <ul v-if='bTipShow'>
                                <li>部分藥局因採發放號碼牌方式，方便民眾購買口罩，系統目前無法顯示已發送<span class='noteImpor'>號碼牌數量</span>。</li>
                                <li>口罩數量以藥局實際存量為主，線上查詢之<span class='noteImpor'>數量僅供參考</span>。</li>
                                <li>如果藥局的庫存或者備註有誤，<span class='noteImpor'>可以禮貌提醒藥師確認系統資料</span>：
                                    <ul class='tipsDetail'>
                                        <li>備註: 可請藥師連線至 VPN 後進入「看診資料及掛號費」<br/>點選(1)<span class='noteImpor'>每日固定看診時段</span> (2)<span class='noteImpor'>固定看診時段備註欄</span><br/>可修正藥局<span class='noteImpor'>販賣口罩起迄時間</span>及相關欲通知民眾事項</li>
                                        <li>庫存: 可請藥師瀏覽「防疫口罩管控系統VPN登錄作業使用者手冊」的第五頁，有說明<span class='noteImpor'>負數</span>的操作方式。</li>
                                    </ul>
                                </li> 
                            </ul>
                        </div>

                    </div>

                </div>
            </section>

            <div  class="back" 
                  :class='(bTipShow || bRule || bWarning) ? ( bRule ? "blueBack" : "grayBack" ) : "" '
                  v-if='bTipShow || bRule || bWarning' @click= 'bTipShow = false; bRule = false; bWarning= false'></div>
            <div class="warning" v-if='bWarning'>
                <p>請先開啟<span class='noteImpor'>定位設定</span></p>
                <span class="ok" @click='bWarning = false'>好呦</span>
            </div>
        </article>

        <footer>
            <div>防疫專線 1922 ｜ 口罩資訊 1919</div>
            <div class="author">
                <a href='https://github.com/wenyo/maskmap'>wenyo</a>
                <span> / </span>
                <a href='https://xd.adobe.com/view/6e126433-68ec-45ce-6c7d-62ac0cede399-1823/grid'>PY Design</a>
            </div>
            <div class="author">wenda897436@gmail.com</div>
        </footer>

    </div>
    <script src="./all.js"></script>
</body>
</html>