#mask{
    min-height: 100vh;
    max-width: 1460px;
    margin: 0 auto;
    background-color: $color-11;
    font-family: Regular Noto Sans CJK TC;
    font-size: $fontsize-m;
}
.noScroll{
    overflow: hidden;
    height: 100vh;
}

header{
    background: $color-12;
    padding: 20px 16px;
    display: flex;
    align-items: center;
    font-size: $fontsize-xl;
    img{
        width: 30px;
        height: auto;
        margin-right: 10px;
    }
}
article{
    min-height: calc(100vh - 70px - 137px);
    box-sizing: border-box;
}

section{
    padding: 5px 16px;
    margin: 1vh 0;
}

.back{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.grayBack{
    background-color: $color-8;
}

.blueBack{
    background-color: $color-4;
}