$color-master: #E67E22;
$color-2: #11787A;
$color-3: #FEF5E7;
$color-4: #34495E;
$color-5: #97a0a9;
$color-6: #70777C;
$color-7: #A9A9A9;
$color-8: #34495E4D;
$color-9: #00000036;
$color-10: #34495E33;
$color-11: #FAFAFA;
$color-12: #FFFFFF;
$color-13: #0000001A;
$color-14: #a9a9a91a;
$color-15: #11787a48;
$color-16: #435b74;


$fontsize-xxxl: 36px;
$fontsize-xxl: 29px;
$fontsize-xl: 16px;
$fontsize-l: 14px;
$fontsize-m: 12px;
$fontsize-s: 11px;

$line-h-xl: 60px;
$line-h-l: 20px;
$line-h-m: 16px;