$color-master: #E67E22;
$color-2: #11787A;
$color-3: #F39C12;
$color-4: #34495E;
$color-5: #566778;
$color-6: #70777C;
$color-7: #A9A9A9;
$color-8: #34495E4D;
$color-9: #00000036;
$color-10: #34495E33;
$color-11: #FAFAFA;
$color-12: #FFFFFF;
$color-13: #0000001A;


$fontsize-xxxl: 36px;
$fontsize-xxl: 29px;
$fontsize-xl: 16px;
$fontsize-l: 14px;
$fontsize-m: 12px;
$fontsize-s: 11px;